@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@media (min-width: 980px) {
	body {
	  padding-top: 60px;
	}
}

.accordion-toggle:hover {
	text-decoration: none;
}

.accordion-toggle img {
	margin-right: 10px;
	margin-top: -5px;
}

.action {
	text-decoration: none;
	color: #333;
}