<div data-role="header">
  <div class="back-button">
    <a href="#" data-rel="back" data-role="button" data-corners="false" data-shadow="false" data-iconshadow="false">
      <i class="ui-icon-icon-chevron-left"></i>
    </a>
  </div>
  <h1>FiREST History</h1>
  <a href="#" data-history-id="{{uuid}}" class="delete-history-button ui-btn-right">Delete</a>
</div>

<div data-role="content">
  <div class="response-metadata">
    <ul data-role="listview">
      <li data-role="list-divider">Request</li>
      <li>Method: {{method}}</li>
      <li>URL: {{url}}</li>
      <li>Date: {{datetime}}</li>
      <li data-role="list-divider">Request Headers</li>
      {{{ headers headers }}}
      <li data-role="list-divider">Response {{ response.status }}</li>
      <li data-role="list-divider">Response Headers</li>
      {{{ headers response.headers }}}
      <li data-role="list-divider">Response Body</li>
    </ul>
  </div>
  <div class="response-body">
    {{response.body}}
  </div>
</div>