<div data-role="header">
  <div class="back-button">
    <a href="#" data-rel="back" data-role="button" data-corners="false" data-shadow="false" data-iconshadow="false">
      <i class="ui-icon-icon-chevron-left"></i>
    </a>
  </div>
  <h1>FiREST History</h1>
  <a href="#" data-history-id="{{uuid}}" class="delete-history-button ui-btn-right">Delete</a>
</div>

<div data-role="content">
  <div class="request-metadata">
    <ul data-role="listview">
      <li data-role="list-divider">Request {{{ historyStatus this }}}</li>
      <li>Method: {{method}}</li>
      <li>URL: {{url}}</li>
      <li>Date: {{datetime}}</li>
      <li data-role="list-divider" data-theme="c">Headers</li>
      {{{ headers headers }}}
      {{#if content}}
        <li data-role="list-divider" data-theme="c">Content</li>
      {{/if}}
    </ul>
  </div>
  {{#if content}}
    <div class="response-body">
      {{content}}
    </div>
  {{/if}}
  {{#if response.status }}
    <hr>
    <div class="request-metadata" style="margin-top:20px;">
      <ul data-role="listview">
        <li data-role="list-divider">Response</li>
        <li>Code: {{response.status}}</li>
        <li data-role="list-divider" data-theme="c">Headers</li>
        {{{ headers response.headers }}}
        <li data-role="list-divider" data-theme="c">Response</li>
      </ul>
    </div>
    <div class="response-body">
      {{response.body}}
    </div>
  {{/if}}
</div>