{{{ header "FiREST" }}}

<div data-role="content">
  <select id="select-http-method">
    <option value="GET">GET</option>
    <option value="POST">POST</option>
    <option value="PUT">PUT</option>
    <option value="DELETE">DELETE</option>
    <option value="HEAD">HEAD</option>
    <option value="OPTIONS">OPTIONS</option>
    <option value="TRACE">TRACE</option>
  </select>
  
  <input type="url" id="request-url" placeholder="URL" value="http://">
  
  <div id="request-content-container" style="display:none;">
    <label for="request-content">Content</label>
    <textarea id="request-content"></textarea>
  </div>
  
  <ul id="headers-list" data-role="listview" data-inset="true" data-divider-theme="a" data-corners="true">
    <li data-role="list-divider">HTTP Headers</li>
    <li id="klsjdruhklzfkasjhdf">
      <a href="#" class="request-header" data-li-id="klsjdruhklzfkasjhdf">Accept: application/json</a>
    </li>
    <li id="lkasjdflkjasddlfkjas">
      <a href="#" class="request-header" data-li-id="lkasjdflkjasddlfkjas">Content-type: application/json</a>
    </li>
  </ul>
  
  <select id="add-header-button">
    <option value="">Add Header</option>
    <option value="custom">Add Custom Header</option>
    <optgroup label="Built-in Headers">
      {{{ builtInHeaders }}}
    </optgroup>
  </select>
  
  <a href="#" data-role="button">Save Request</a>
  
  <select id="select-saved-request">
    <option value="">Load Request</option>
  </select>
  
  <!--
    <input type="checkbox" name="checkbox-1a" id="checkbox-1a" checked="">
    <label for="checkbox-1a">Create Session</label>
  -->
  
  <button  id="send-button" data-role="button" data-theme="b">SEND</button>
</div>

{{{ footer '#request'}}}