<div data-role="header">
  <div class="left-header-button">
    <a href="#" data-rel="back">
      <i class="ui-icon-icon-chevron-left"></i>
    </a>
  </div>
  <h1>FiREST Response</h1>
  <div class="right-header-button">
    <a href="#" data-history-id="{{uuid}}" id="save-request-button">Save</a>
  </div>
</div>

<div data-role="content">
  <div class="response-metadata">
    <ul data-role="listview">
      <li data-role="list-divider">Status</li>
      <li>{{response.status}}</li>
      <li data-role="list-divider">Headers</li>
      {{{ headers response.headers }}}
      <li data-role="list-divider">Response</li>
    </ul>
  </div>
  <div class="response-body">
    {{response.body}}
  </div>
</div>